 <div class="pull-left">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    {% if post.tags contains 'linux' %}
      <i class="fa fa-linux fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'shell' %}
      <i class="fa fa-linux fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'tools' %}
      <i class="fa fa-wrench fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'java' %}
      <i class="fa fa-terminal fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'java8' %}
      <i class="fa fa-terminal fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'git' %}
      <i class="fa fa-git fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'mysql' %}
      <i class="fa fa-th-list fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'algorithm' %}
      <i class="fa fa-trophy fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'go' %}
      <i class="fa fa-google fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'thread' %}
      <i class="fa fa-rocket fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'coroutine' %}
      <i class="fa fa-rocket fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'web' %}
      <i class="fa fa-share-alt fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'spring' %}
      <i class="fa fa-leaf fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'springboot' %}
      <i class="fa fa-leaf fa-stack-1x text-white"></i>
    {% elsif post.tags contains 'mybatis' %}
      <i class="fa fa-th-list fa-stack-1x text-white"></i>
    {% else %}
      <i class="fa fa-file-code-o fa-stack-1x text-white"></i>
    {% endif %}
  </span>
</div>
